.backgroundMenu{
    background: $calm;
  }

.backgroundLogo{
    margin: 0 auto;
    text-align: center;
}

.graplogotipo{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.logotipo{
    height: 10em;
    width: 10em;
    border: 0.25em solid #ffffff;
    border-radius: 50%;
}