<ion-view view-title="Contactos" class="contacts">
  
  <ion-nav-buttons side="right">
    <button class="button buttons button-clear header-item" ui-sref="app.add-contact">
      <i class="icon ion-plus-circled"></i>
    </button>
  </ion-nav-buttons>
  
  <ion-content class="contacts">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar: Contacto/Email" ng-model="busqueda">
      </label>
    </div>
    <ion-refresher
        pulling-text="Recargar"
        pulling-icon="ion-android-refresh calm"
        on-refresh="doRefresh()"
        spinner="ripple">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts | filter : busqueda" type="item-text-wrap" href="#/app/contact/{{contact.id}}">
        <img src="img/{{contact.letter}}.svg">
        <h2>{{contact.name}}</h2>
        <p>{{contact.email}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="actionDelete({{contact.id}},$index)" >
          Eliminar
        </ion-option-button>
      </ion-item>      
    </ion-list>
    <ion-infinite-scroll 
      ng-cloak
      ng-if="moreDataCanBeLoad()"
      on-infinite="loadMore()"
      distance="1%"
      immediate-check="false"
      spinner="dots">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
