<ion-view view-title="Agregar Contacto">

  <ion-nav-buttons side="right">
    <button ng-click="newContact()" class="button buttons button-clear header-item">
      <i class="icon ion-checkmark-circled"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="divImg">
      <img src="img/addusers.png">
      <p class="padding texto" >
        Ingresa los datos del nuevo contacto, solo los nombre y apellidos son obligatorios.
      </p>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
          <i class="icon ion-android-contact placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Nombres y Apellidos:</span>
            <input ng-model="contactModel.name" type="text" placeholder="Nombres y Apellidos">
          </label>
          <i class="icon ion-card placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Identificación:</span>
            <input ng-model="contactModel.identification" type="text" placeholder="Identificación">
          </label>
          <i class="icon ion-android-call placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Teléfono 1:</span>
            <input ng-model="contactModel.phonePrimary" type="number" placeholder="Teléfono 1">
          </label>
          <i class="icon ion-android-call placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Teléfono 2:</span>
            <input ng-model="contactModel.phoneSecondary" type="number" placeholder="Teléfono 2">
          </label>
          <i class="icon ion-android-print placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Fax:</span>
            <input ng-model="contactModel.fax" type="number" placeholder="Fax">
          </label>
          <i class="icon ion-android-phone-portrait placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Celular:</span>
            <input ng-model="contactModel.mobile" type="number" placeholder="Celular">
          </label>  
          <i class="icon ion-at placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email:</span>
            <input ng-model="contactModel.email" type="email" placeholder="Email">
          </label>
          <i class="icon ion-android-home placeholder-icon"></i>
          <label class="item item-input item-floating-label">
            <span class="input-label">Dirección:</span>
            <input ng-model="contactModel.address.address" type="text" placeholder="Dirección">
          </label>
          <i class="icon ion-android-map placeholder-icon"></i>
          <label class="item item-input item-select">
            <div class="input-label">
              Ciudad:
            </div>
            <select ng-model="contactModel.address.city">
              <option  value="{{city.value}}" ng-repeat="city in citys">{{city.text}}</option>
            </select>
          </label>
          <button ng-click="newContact()" class="button button-block button-positive">
            Crear Contacto
          </button>
      </div>
    </div>
  </ion-content>
</ion-view>
